    <div class="grid">
      <!--Contenido-->
        <header>
            <h3>Dejanos tu mensaje!</h3>
             <form action="" class="contenedor" id="form">
                    <div class="nombre">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" required>
                     </div>
                     <div class="asunto">
                        <label for="asunto">Asunto</label>
                        <input type="text" name="Asunto" id="asunto" required>
                    </div>
                    <div class="mensaje">
                        <label for="texto">mensaje</label>
                        <textarea name="texto" id="texto" cols="30" rows="10"></textarea>
                    </div>    
                    <div class="btn-enviar">
                        <input type="submit" name="Mensaje" id="btn-enviar" value="enviar">
                    </div>
                </form>
        </header>
      <!--Fin de contenido-->
        <footer>
            <div class="columnas-footer">
                <div class="informacion">
                    <h2>INFORMACION</h2>
                    Lorem ipsum dolor sit amet 
                    consectetur, adipisicing elit. 
                    Repellat natus ex eveniet, 
                    provident illo expedita quo 
                    dignissimos tenetur veritatis,
                    quaerat ullam praesentium 
                    impedit similique totam 
                    harum nam possimus, incidunt
                    unde!
                </div>
                <div class="redes">
                    <h2>CONTACTO</h2>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </footer>
    </div>