       <div class="grid">
        <!--Contenido-->
        <header>
    <!--Inicio de nosotros-->
    <section class="nosotros">
        <div class="grid-nosotros">
            <div class="text-nosotros">
        <h3><b>nosotros</b></h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
                <a href="/tienda"><button class="btn-nosotros" type="button">
                    TIENDA
                </button></a>
        </div>
    </section>
    <!--Fin de nosotros-->

    <!--Cafes-->
    <section class="cafes">
        <h3>CAFES ARTESANALES</h3>
        <section class="tarjetas">
            <div class="cafe">
                <div class="cafe_imagen">
                    <img src="img/bolsa.png" alt="">
                    <p>Titulo</p>
                </div>
                <hr>
                <div class="cafe_descripcion">
                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor
                    </p>
                </div>
                <hr>
                <div class="cafe_boton">
                    <a  class="btn_cafe" href="/tienda#cafe">MAS</a>
                </div>
            </div>

            <div class="cafe">
                <div class="cafe_imagen">
                    <img src="img/bolsa.png" alt="">
                    <p>Titulo</p>
                </div>
                <hr>
                <div class="cafe_descripcion">
                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor
                    </p>
                </div>
                <hr>
                <div class="cafe_boton">
                    <a class="btn_cafe"  href="/tienda#cafe">MAS</a>
                </div>
            </div>

            <div class="cafe">
                <div class="cafe_imagen">
                    <img src="img/bolsa.png" alt="">
                    <p>Titulo</p>
                </div>
                <hr>
                <div class="cafe_descripcion">
                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor
                    </p>
                </div>
                <hr>
                <div class="cafe_boton">
                    <a class="btn_cafe" href="//tienda#cafe">MAS</a>
                </div>
            </div>

        </section>
    </section>
    <!--Fin Cafes-->

    <!--Productos-->
    <section class="product">
        <h3>NUESTROS PRODUCTOS</h3>
        <section class="productos">
            
            <a href="/tienda#cafe">
                <div class="producto">
                <span class="material-symbols-outlined">
                    coffee_maker
                </span>
            </div>
            </a>

           <a href="/tienda#maquinas">
             <div class="producto">
                <span class="material-symbols-outlined">
                    coffee
                </span>
            </div>
           </a>

           <a href="/tienda#otros">
             <div class="producto">
                <span class="material-symbols-outlined">
                    shopping_bag
                    </span>
            </div>
           </a>
            
        </section>
    </section>
    <!--Fin Productos-->

    <footer>
        <div class="columnas-footer">
            <div class="informacion">
                <h2>INFORMACION</h2>
                Lorem ipsum dolor sit amet 
                consectetur, adipisicing elit. 
                Repellat natus ex eveniet, 
                provident illo expedita quo 
                dignissimos tenetur veritatis,
                quaerat ullam praesentium 
                impedit similique totam 
                harum nam possimus, incidunt
                unde!
            </div>
            <div class="redes">
                <h2>CONTACTO</h2>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-twitter"></i></a>
            </div>
        </div>
    </footer>
</header>
