body
{
  margin: 0;
  padding: 0;  
}
/*ESTILOS NAVBAR*/
.navbar-nav a
{
    margin-left: 100px;
}
.nav-link
{
    text-transform: uppercase;
    margin-top: 20px;
}
.usuario
{
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.usuario a 
{
    margin-top:10px
}
.usuario-config
{
    margin-bottom: 10px;
}
.usuario a i
{
    color:#fff;
    margin-top: 10px;
    font-size: 30px;
    margin-left: 15px;
}
@media screen and (min-width:1000px) {
    .sesion
    {
        display: none;
        visibility: hidden;
    }
}
@media screen and (max-width:1000px) {
    .usuario{
        display: none;
        visibility: hidden;
    }
    .navbar-nav a
    {
        margin-left: 0px;
    }
}
/*FIN DE ESTILOS DE NAVBAR*/
/*FOOTER*/
footer
{   
    grid-area: footer;
    background-color: #273746;
    color:#fff;
}
.columnas-footer
{
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 20px;
    margin:20px
}
.columnas-footer h2
{
    font-size: 20px;
}
.informacion
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
    text-align: left;
}

.redes
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
    justify-content: center;
    text-decoration: none;
}
.redes a
{  
    font-size: 30px;
    text-decoration: none;
    color:#fff
}

/*FIN FOOTER*/