<form action="/admin/login" method="POST" class="login">
    <div class="contenedor">
        <h4>Iniciar Sesion</h4>
        <div class="items">
            <label for="username">USUARIO</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="items">
            <label for="password">CONTRASEÑA</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit" class="btn-login">ENTRAR</button>
        </div>
    </div>
    
</form>