<form action="/usuario/singup" method="POST" class="login">
    <div class="contenedor">
        <h4>Iniciar Sesion</h4>
        <div class="items">
            <label for="email">CORREO</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="items">
            <label for="password">CONTRASEÑA</label>
            <input type="password" id="password" name="password" required>
            <a href="">Olvide mi contraseña</a>
        </div>
        <div>
            <button type="submit" class="btn-login">ENTRAR</button>
        </div>
        <div class="registro">
        <a href="/usuario/registrar">Registrarme</a>
    </div>
    </div>
    
</form>